### Python ###
__pycache__/
*.py[cod]
*$py.class

### Jupyter ###
.ipynb_checkpoints
.virtual_documents

### Editors ###
.vscode/
*~
*.swp
*.swo

### MacOS ###
.DS_Store

### Other ###
backup/
rawdata/
results/
*.pkl
